@using WebShop.Models

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using System.Security.Claims

@inject IAuthorizationService AuthorizationService
@inject SignInManager<ShopUser> SignInManager
@inject UserManager<ShopUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
  if (await AuthorizationService.AuthorizeAsync(User, "ContentEditors"))
  {
    <a class="item" asp-controller="Administration" asp-action="Index">Administration</a>
  }

  <div class="item">
    <form asp-controller="Account" asp-action="LogOff" method="post">
      <button class="ui mini inverted button" type="submit">Logout</button>
    </form>
  </div>
  
  @*<a asp-controller="Manage" asp-action="Index" title="Account">
    @UserManager.GetUserName(User)
  </a>*@
}
else
{
  <div class="item">
    <form asp-controller="Account" asp-action="Login" method="post">
      <button class="ui button" type="submit">Log-in</button>
    </form>
  </div>
}
