@{
  ViewData["Title"] = "Administration Page";
  Layout = "~/Views/Administration/_AdminLayout.cshtml";
}

@section head
{
  <environment names="Development,Staging,Production">
    <base href="/Administration">    
    <link href="/spa/css/global.css" rel="stylesheet">
  </environment>
}

<admin-main><div class="ui active text loader">Loading</div></admin-main>

@section scripts
{
  <environment names="Development,Staging,Production">
    <!--<script type="text/javascript" src="/spa/jquery-3.1.0.slim.min.js"></script>-->
    <!--<script type="text/javascript" src="/spa/semantic/semantic.min.js"></script>-->
  </environment>
  
  <environment names="Development">    
    <script type="text/javascript" src="/spa/admin_commons.bundle.js"></script>
    <script type="text/javascript" src="/spa/admin_polyfills.bundle.js"></script>
    <script type="text/javascript" src="/spa/admin_vendor.bundle.js"></script>
    <script type="text/javascript" src="/spa/admin.bundle.js"></script>
  </environment>
  <environment names="Staging,Production">    
    <script type="text/javascript" src="/spa/admin_commons.bundle.js.gz"></script>
    <script type="text/javascript" src="/spa/admin_polyfills.bundle.js.gz"></script>
    <script type="text/javascript" src="/spa/admin_vendor.bundle.js.gz"></script>
    <script type="text/javascript" src="/spa/admin.bundle.js.gz"></script>
  </environment>
}