<div class="ui grid container">

  <div class="four wide column">
    <div class="ui tiny red inverted fluid button" (click)="onCreateNewCategory()">Create new</div>
    
    <sm-list class="ui list">
      <a sm-item *ngFor="let category of categories"
        [ngStyle]="{'border-right': (category?.id === selectedCategory?.id) ? '1px solid gray' : null}"
        [header]="category.name" [image]="category?.imageUrl" (click)="onCategoryClick(category)">
        {{ category.urlSegment }}
      </a>
    </sm-list>
  </div>

  <div class="twelve wide stretched column">

    <form novalidate class="ui form attached fluid segment" *ngIf="form" 
      [class.loading]="xhrPending" [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)">
      
      <!--header-->
      <h4 class="ui dividing header">
        <span *ngIf="id.value >= 0">Modifying category <em>{{ selectedCategory?.name }}</em></span>
        <span *ngIf="id.value < 0">Creating new category</span>
      </h4>

      <!--name-->
      <div class="field">
        <sm-input label="Name ({{ name.value.length }}/{{ fieldRules.name.maxLength }})" [control]="name"></sm-input>
        <div class="ui basic pointing red label" *ngIf="!name.valid && !name.pristine">        
          <small *ngIf="name.hasError('required')">Name is required<br/></small>
          <small *ngIf="name.hasError('minlength')">Minimum length is {{ fieldRules.name.minLength }}<br/></small>
          <small *ngIf="name.hasError('maxlength')">Maximum length is {{ fieldRules.name.maxLength }}<br/></small>
        </div>
      </div><!--name-->

      <!--url segment-->
      <div class="field" [class.error]="!urlSegment.valid && urlSegment.touched" [class.success]="urlSegment.valid && urlSegment.touched">
        <sm-input label="urlSegment ({{ urlSegment.value.length }}/{{ fieldRules.urlSegment.maxLength }})" [control]="urlSegment"></sm-input>
        <div class="ui basic pointing red label" *ngIf="!urlSegment.valid && !urlSegment.pristine">        
          <small *ngIf="urlSegment.hasError('required')">Url segment is required<br/></small>
          <small *ngIf="urlSegment.hasError('minlength')">Minimum length is {{ fieldRules.urlSegment.minLength }}<br/></small>
          <small *ngIf="urlSegment.hasError('maxlength')">Maximum length is {{ fieldRules.urlSegment.maxLength }}<br/></small>
        </div>
      </div><!--url segment-->

      <!--image url-->
      <div class="field" [class.error]="!imageUrl.valid && imageUrl.touched" [class.success]="imageUrl.valid && imageUrl.touched">
        <sm-input label="Image Url ({{ imageUrl.value.length }}/{{ fieldRules.imageUrl.maxLength }})" [control]="imageUrl"></sm-input>
        <div class="ui basic pointing red label" *ngIf="!imageUrl.valid && !imageUrl.pristine">        
          <small *ngIf="imageUrl.hasError('required')">Image url is required<br/></small>
          <small *ngIf="imageUrl.hasError('maxlength')">Maximum length is {{ fieldRules.imageUrl.maxLength }}<br/></small>
        </div>
      </div><!--image url-->

      <!--display order-->
      <div class="field" [class.error]="!viewDisplayOrder.valid && viewDisplayOrder.touched" [class.success]="viewDisplayOrder.valid && viewDisplayOrder.touched">
        <sm-input label="Display order (number)" [control]="viewDisplayOrder"></sm-input>
        <div class="ui basic pointing red label" *ngIf="!viewDisplayOrder.valid && !viewDisplayOrder.pristine">        
          <small *ngIf="viewDisplayOrder.hasError('required')">Display order is required<br/></small>
          <small *ngIf="viewDisplayOrder.hasError('pattern')">Display order mus be a whole number<br/></small>
        </div>
      </div><!--display order-->

      <!--submit button-->
      <button class="ui positive button" [disabled]="!form.valid" [class.loading]="xhrPending">
        <i class="ui icon thumbs up"></i>
        <span *ngIf="selectedCategory == null">Create</span>
        <span *ngIf="selectedCategory != null">Update</span>
      </button>

      <!--delete button-->
      <button *ngIf="selectedCategory && !showConfirmDelete" class="ui red inverted button" type="button" 
        [disabled]="id.value < 0" (click)="onDeleteClick()">
        Delete
      </button>

      <!--delete confirmation buttons-->
      <div class="ui buttons" *ngIf="showConfirmDelete">
        <div class="ui button cancel" (click)="onConfirmDeleteCancel()">No</div>
        <div class="or"></div>
        <div class="ui red inverted button" (click)="onConfirmDeleteOk()">Yes, delete</div>
      </div>

    </form>
    
    <div class="ui bottom attached message" *ngIf="xhrNotificationVisible" [ngClass]="{'success': xhrSucceeded, 'error': !xhrSucceeded}">
        <span *ngIf="xhrSucceeded"><i class="icon checkmark"></i>{{ xhrNotificationMessage }}</span>
        <span *ngIf="!xhrSucceeded"><i class="icon warning sign"></i>{{ xhrNotificationMessage }}</span>
    </div>

  </div> <!-- column end -->

</div>