<div class="ui attached message" *ngIf="xhrNotificationVisible" [ngClass]="{'success': xhrSucceeded, 'error': !xhrSucceeded}">
    <span *ngIf="xhrSucceeded"><i class="icon checkmark"></i>{{ xhrNotificationMessage }}</span>
    <span *ngIf="!xhrSucceeded"><i class="icon warning sign"></i>{{ xhrNotificationMessage }}</span>
</div>

<form novalidate class="ui form attached fluid segment" *ngIf="form" 
  [class.loading]="xhrPending" [formGroup]="form" (ngSubmit)="onFormSubmit(form.value)">
  <h4 class="ui dividing header">
    <span *ngIf="id.value < 0">Creating new product..</span>
    <span *ngIf="id.value >= 0">Editing product <em>{{ product?.name }}</em></span>
  </h4>

  <!--product number and stock qty-->
  <div class="two fields">
    <div class="field">
      <label>Product number</label>
      <input type="text" disabled [formControl]="productNumber">
    </div>
    <sm-input class="field" label="Stock quantity" [control]="stockQuantity"></sm-input>
    <div class="ui basic left pointing red label" *ngIf="!stockQuantity.valid && !stockQuantity.pristine">
      <small *ngIf="stockQuantity.hasError('required')">Stock quantity is required<br/></small>
      <small *ngIf="stockQuantity.hasError('pattern')">Stock quantity must be a positive number.<br/></small>
    </div>
  </div><!--product number and stock qty-->

  <!--name-->
  <div class="field">
    <sm-input label="Name ({{ name.value.length }}/{{ fieldRules.name.maxLength }})" [control]="name"></sm-input>
    <div class="ui basic pointing red label" *ngIf="!name.valid && !name.pristine">        
      <small *ngIf="name.hasError('required')">Name is required<br/></small>
      <small *ngIf="name.hasError('minlength')">Minimum length is {{ fieldRules.name.minLength }}<br/></small>
      <small *ngIf="name.hasError('maxlength')">Maximum length is {{ fieldRules.name.maxLength }}<br/></small>
    </div>
  </div><!--name-->

  <!--description-->
  <div class="field">
    <sm-input label="Description ({{ description.value.length }}/{{ fieldRules.description.maxLength }})" [control]="description"></sm-input>
    <div class="ui pointing red basic label" *ngIf="!description.valid && !description.pristine">
      <small *ngIf="description.hasError('required')">Description is required <br/></small>
      <small *ngIf="description.hasError('minlength')">Minimum length is {{ fieldRules.description.minLength }}<br/></small>
      <small *ngIf="description.hasError('maxlength')">Maximum length is {{ fieldRules.description.maxLength }}<br/></small>
    </div>
  </div><!--description-->

  <!--price and current price-->
  <div class="two fields">
    <sm-input class="field" label="Price" [control]="price"></sm-input>
    <div class="ui basic left pointing red label" *ngIf="!price.valid && !price.pristine">
      <small *ngIf="price.hasError('required')">Price is required<br/></small>
      <small *ngIf="price.hasError('pattern')">Price must be a positive number.<br/></small>
    </div>
    <sm-input class="field" label="Current price" [control]="currentPrice"></sm-input>
    <div class="ui basic left pointing red label" *ngIf="!currentPrice.valid && !currentPrice.pristine">
      <small *ngIf="currentPrice.hasError('required')">Current price is required<br/></small>
      <small *ngIf="currentPrice.hasError('pattern')">Current price must be a positive number.<br/></small>
    </div>
  </div><!--price and current price-->

  <!--image url-->
  <div class="field">
    <sm-input label="Thumbnail image url ({{ imageUrl.value.length }}/{{ fieldRules.imageUrl.maxLength }})" [control]="imageUrl"></sm-input>
    <div class="ui basic red pointing label" *ngIf="!imageUrl.valid && !imageUrl.pristine">
      <small *ngIf="imageUrl.hasError('required')">Image Url is required<br/></small>
      <small *ngIf="imageUrl.hasError('minlength')">Minimum length is {{ fieldRules.imageUrl.minLength }}<br/></small>
      <small *ngIf="imageUrl.hasError('maxlength')">Maximum length is {{ fieldRules.imageUrl.maxLength }}<br/></small>
    </div>
  </div><!--image url-->

  <!--parent category and manufacturer-->
  <div class="two fields" *ngIf="+id.value < 0">

    <!--parent category radio-->
    <div class="field grouped fields">
      <label>Select category...</label>
      <div class="field" *ngFor="let cat of categories; trackBy:cat?.id">
        <div class="ui radio checkbox" (click)="onCategorySelect(cat)">
          <input type="radio" name="parentCategory" [attr.checked]="(parentCategoryId.value === cat.id) ? '' : null" class="hidden">
          <label>{{ cat.name }} &nbsp; <sup *ngIf="cat.manufacturers?.length < 1">(No manufacturers)</sup></label>
        </div>
      </div>        
    </div>
    <!--manufacturer radio-->
    <div class="field grouped fields">
      <label>Select manufacturer...</label>
      <div class="field" *ngFor="let man of manufacturers; trackBy:man?.id">
        <div class="ui radio checkbox" (click)="onManufacturerSelect(man)">
          <input type="radio" name="manufacturer" [attr.checked]="(manufacturerId.value === man.id) ? '' : null" class="hidden">
          <label>{{ man.id }} - {{ man.name }}</label>
        </div>
      </div>        
    </div>

  </div><!--parent category and manufacturer-->

  <!--new product and promo active-->
  <div class="two fields">
    <div class="field">
      <sm-checkbox type="toggle" label="Tag as new product" [control]="newProduct"></sm-checkbox> 
    </div>
    <div class="field">
      <sm-checkbox type="toggle" label="Promo active" [control]="promoActive"></sm-checkbox> 
    </div>
  </div>

  <div class="ui divider"></div>

  <!--submit button-->
  <button class="ui primary button" type="submit" [disabled]="!form.valid">
    Submit
  </button>

  <!--delete button-->
  <button *ngIf="product && !showConfirmDelete" class="ui red inverted button" type="button" 
    [disabled]="id.value < 0" (click)="onDeleteClick()">
    Delete
  </button>

  <!--delete confirmation buttons-->
  <div class="ui buttons" *ngIf="showConfirmDelete">
    <div class="ui button cancel" (click)="onConfirmDeleteCancel()">No</div>
    <div class="or"></div>
    <div class="ui red inverted button" (click)="onConfirmDeleteOk()">Yes, delete</div>
  </div>

  <!--clear form button-->
  <button class="ui right floated secondary button" type="button" (click)="onClearFormClick()">
    Clear form / New product
  </button>

</form>

<div class="ui bottom attached message" *ngIf="xhrNotificationVisible" [ngClass]="{'success': xhrSucceeded, 'error': !xhrSucceeded}">
    <span *ngIf="xhrSucceeded"><i class="icon checkmark"></i>{{ xhrNotificationMessage }}</span>
    <span *ngIf="!xhrSucceeded"><i class="icon warning sign"></i>{{ xhrNotificationMessage }}</span>
</div>