<div class="ui grid container">
  <!--left column-->
  <div class="four wide column">
    <div class="ui secondary fluid vertical menu">
      <a class="item" [routerLink]=" ['./search'] " routerLinkActive="active">Search</a>
      <a class="item" [routerLink]=" ['./edit'] " routerLinkActive="active">Create / Edit</a>
      <a class="item" [routerLink]=" ['./tags'] " routerLinkActive="active" [class.disabled]="noneOrNonexistentProduct">Tags</a>
      <a class="item" [routerLink]=" ['./detail'] " routerLinkActive="active" [class.disabled]="noneOrNonexistentProduct">Details</a>
    </div>
  </div>

  <!--content column-->
  <div class="twelve wide stretched column">
    <router-outlet></router-outlet>
  </div>
</div>
