
<div class="ui basic segment" style="min-height: 300px;">
  <form novalidate class="ui form" *ngIf="form" [formGroup]="form">    

    <h4 class="ui dividing header">Product search</h4>
    <div class="field">
      <div class="ui left icon input" [class.loading]="xhrPending">
        <input type="text" [formControl]="term" placeholder="Search...">
        <i class="search icon"></i>        
      </div>
      <div *ngIf="term.hasError('minlength')">
          <small>Minimum length is 3 characters</small>
      </div>
      <div *ngIf="term.hasError('maxlength')">
          <small>Maximum length is 30 characters</small>
      </div>
    </div>

  </form>
  
  <h4 class="ui horizontal divider header">Results</h4>

  <div class="ui four cards" *ngIf="products && products.length > 0">
    
    <div class="card" *ngFor="let product of products" (click)="onProductClick(product)">
      <a class="image"><img [src]="product.imageUrl" alt="product image"></a>
      <div class="content">
        <a class="header">{{ product.name }}</a>
        <div class="meta"><span class="right floated">$ {{ product.price }}</span></div>
        <div class="description">{{ product.description }}</div>        
      </div>
      <div class="ui bottom attached button" (click)="onLinkClick('/products/edit', product); $event.stopPropagation()">          
        <i class="external share"></i>
        Edit
      </div>
    </div>

  </div>

</div>
