<div class="ui brown center aligned stacked segment">
  <h4 class="ui header">Item: {{ product.name }} <small>(#{{ product.productNumber }})</small></h4>
  <h5 class="ui dividing header">Click to add / remove</h5>

  <div class="ui two column grid">
    <div class="column">
      <div class="ui selection list">
        <div class="item" *ngFor="let tag of availableTags">
          <div class="ui horizontal label" (click)="addTag(tag)" [class.blue]="!tag.added">
            {{ tag.name }}
          </div>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="ui selection list">
        <div class="item" *ngFor="let tag of assignedTags">
          <div class="ui blue horizontal label" (click)="removeTag(tag)">
            {{ tag.name }}
            <i class="delete icon"></i>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>
