<div class="ui attached message" *ngIf="xhrNotificationVisible" [ngClass]="{'success': xhrSucceeded, 'error': !xhrSucceeded}">
    <span *ngIf="xhrSucceeded"><i class="icon checkmark"></i>{{ xhrNotificationMessage }}</span>
    <span *ngIf="!xhrSucceeded"><i class="icon warning sign"></i>{{ xhrNotificationMessage }}</span>
</div>

<form novalidate class="ui form attached fluid segment" *ngIf="form && !preview" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
  <h4 class="ui header">Item: {{ product.name }} <small>(#{{ product.productNumber }})</small></h4>

  <div class="field">
    <label>Markdown ({{ markdown.value.length }}/{{markdownMaxLength}})</label>
    <textarea auto-adjust [formControl]="markdown" style="max-height: none"></textarea>
  </div>

  <div class="ui positive button" (click)="onSubmit(form.value)" [class.disabled]="!form.valid" [class.loading]="xhrPending">Save</div>
  <div class="ui inverted green button" (click)="onPreviewClick(form.value)" [class.disabled]="!form.valid" [class.loading]="xhrPending">Preview</div>
</form>

<div class="ui attached fluid segment" *ngIf="preview">
  <h4 class="ui dividing header">Preview:</h4>
  <div class="content" [innerHtml]="preview"></div>
  <div class="ui positive button" (click)="onPreviewBackClick()">Back</div>
</div>
